
.contactdetail {
    display: flex;
    padding: 0rem 5rem;
    margin: 8rem 0 3rem 0;
    gap: 1rem;
}

.contactdetail__left {
    flex: 1;
}
.contactdetail__left h1 {
    font-weight: 500;
    
}
.contactdetail__left > p {
    color: gray;
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 1rem 0;

}

.contactdetail__left-contact p {
    padding: 0.4rem;
}
/* ------------------------------ */
.contactdetail__right {
    flex: 1;
}
form .form-input {
    padding: 1rem 0;
}
form .form-input input {
    background-color: transparent;
    border: 1px solid #dedede;
    box-shadow: none;
    height: 45px !important;
    color: #0c0c0c;
    height: 38px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    width:100% ;
    padding: 0 8px;
}
form .form-input input:hover{
    border: 1px solid #28ABE3;
    transition: 0.2s all;
}
form button {
    border: none;
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
    margin: 0;
    background: #28ABE3;
    color: #fff;
    border-radius: 0;
}

/* media queries --------------- */
@media(max-width:700px){
    .contactdetail {
        flex-direction: column;
        padding: 0rem 7rem;
        margin: 7rem 0 2rem 0;
    }

    .contactdetail__left h1 {
        text-align: center;
        
    }
    .contactdetail__left p {
        text-align: center;
        
    }  
}
@media(max-width:575px){
    .contactdetail {
       
        padding: 2rem 2rem;
    }
}

@media(max-width:450px){
    .contactdetail {
       
        padding: 1rem 1rem;
    }
}