
.businesses{
    background: #F6F6F6;
    padding: 5rem 0;
}
.businesses__heading {

}
.businesses__heading h1 {
    padding: 0  0 2.5rem 0 !important;
    text-align: center;
    font-size: 2.5rem !important;
    font-weight: 500;
}
.businesses__heading p {
    text-align: center;
    padding: 0  0 2.5rem 0;
    color: gray;
}
.businesses__content {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;
}
.businesses__content-div img {
    width: 23rem;
    height: 13rem;
    object-fit: cover;
    /* margin: px; */
}
.businesses__content-div h2 {
    padding: 1rem 0  0.5rem 0;
    font-weight: 600;
    letter-spacing: 0.3px;
}
.businesses__content-div > a {
    text-decoration: none;
    color: #17a2b8!important;
    padding: 0 1rem;
    font-size: 1rem !important;
}