*{
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
  font-size: 1.8rem !important;
}
h2{
  font-size: 1.4rem !important;
}
h3 {
  font-size: 1.3rem !important;
}
p {
  font-size: 1rem !important;
}
ul{
  padding: 0 !important;
}
li{
 font-size: 0.9rem !important;
}